.capacities {
  padding: var(--section-offset) 0;
  background: var(--gradient);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @include tablet {
      flex-direction: column;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    padding: rem(50px) 0;

    &:nth-child(2n) {
      background-color: rgba(0 0 0 / 22%);

      .capacities__container {
        flex-direction: row-reverse;

        @include tablet {
          flex-direction: column;
        }
      }
    }
  }

  &__descr {
    max-width: rem(515px);
    font-weight: 500;
    font-size: rem(24px);
    line-height: 160%;
    color: var(--white);

    @include mobile {
      font-size: 1rem;
    }
  }

  &__paragraph {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: em(50px, 24px);
    }
  }

  .title {
    color: var(--white);
  }
}