section.capacities 
  h2.title Новые возможности
  ul.list-reset.capacities__list 
    li.capacities__item 
      .container.flex-container 
        .capacities__descr 
          p.capacities__paragraph Способен обеспечивать более <b>325 000</b> операций ввода-вывода в секунду для доступного ускорения приложений в рамках малого и среднего бизнеса.
        .capacities__img 
          +img("capacity1.png", "")
    li.capacities__item 
      .container.flex-container 
        .capacities__descr 
          p.capacities__paragraph <b>Число операций ввода-вывода в секунду увеличено до 45 %</b>
          p.capacities__paragraph Пропускная способность последовательной передачи повышена на 70 % по сравнению с MSA Gen 5 (в зависимости от протокола).
        .capacities__img 
          +img("capacity2.png", "")
    li.capacities__item 
      .container.flex-container 
        .capacities__descr 
          p.capacities__paragraph Новая архитектура хранилища <b>MSA 6-го поколения (HW + SW)</b>, которая предоставляет модернизированную платформу HW с дополнительными ресурсами для таких функций, как <b>Tiering 2.0</b>, новая схема защиты <b>RAID (MSA-DP+)</b>, новый оптимизированный для задач веб-интерфейс и высоко оптимизированные данные управление через новый интерфейс <b>RESTful</b>.
        .capacities__img 
          +img("capacity3.png", "")