.hero {
  padding-top: rem(190px);
  padding-bottom: rem(125px);
  background-image: url("../images/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--gray);

  &__title {
    margin: 0;
    margin-bottom: em(20px, 50px);
    font-weight: 800;
    font-size: rem(50px);
    line-height: 120%;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: var(--white);

    @include mobile {
      font-size: 2rem;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: em(50px, 24px);
    max-width: rem(515px);
    font-weight: 500;
    font-size: rem(24px);
    line-height: 140%;
    color: rgba(255 255 255 / 80%);

    @include mobile {
      font-size: 1rem;
    }
  }

  &__btn {
    width: 345px;
    height: 70px;
    font-size: 1.5rem;

    @include mobile {
      width: 250px;
      height: 50px;
      font-size: 1rem;
    }
  }

  @include resolution(960px) {
    background-image: none;
  }
}