section.hero 
  .container 
    h1.hero__title Массив хранения
    p.hero__descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes
    button.btn-reset.btn.btn--fill-big.hero__btn Узнать подробнее