section.products 
  .container 
    h2.title.products__title продукты
    ul.list-reset.products__list 
      li.products__item 
        .products__info 
          h3.products__name HPE MSA 2060
          p.products__descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes
        .products__img 
          +img("product1.png", "HPE MSA 2060")
      li.products__item 
        .products__info 
          h3.products__name HPE MSA 1060
          p.products__descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes
        .products__img 
          +img("product2.png", "HPE MSA 1060")
      