include @cmps/Navigation/nav
include @cmps/Burger/burger

header.header 
  .container.header__container 
    a.header__logo(href="index.html") 
    +nav(class="header__nav")
    .header-mobile-menu 
      +burger
      +nav(class="js-menu header-mobile-menu__nav header-mobile-menu__nav--hidden")
      .js-header-blackout.header-mobile-menu__blackout