@import "@cmps/Navigation/nav";
@import "@cmps/Burger/burger";

.header {
  position: absolute;
  padding: rem(15px) 0;
  width: 100%;
  background-color: rgba(255 255 255 / 1%);
  backdrop-filter: blur(500px);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    width: rem(176px);
    height: rem(73px);
    background-image: url("../images/logo-header.png");
  }

  &__nav {
    @include resolution(960px) {
      display: none;
    }
  }

  &__btn {
    width: 175px;
    height: 45px;
  }
}