.btn {
  font-weight: 700;
  font-size: 1rem;
  color: var(--white);
}

.btn--transparent {
  border: 1px solid var(--secondary);
  transition: background-color 0.25s ease-in-out;

  @include hover {
    background-color: var(--secondary);
  }
}

.btn--fill {
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

  @include hover {
    color: var(--secondary);
    background-color: transparent;
  }
}

.btn--fill-big {
  border: 1px solid var(--secondary);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color: var(--secondary);
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

  @include hover {
    color: var(--secondary);
    background-color: transparent;
  }
}