ul.list-reset.socials 
  li.socials__item
    a.socials__link(href="#") 
      +img("svg/fb.svg")
  li.socials__item
    a.socials__link(href="#") 
      +img("svg/twitter.svg")
  li.socials__item
    a.socials__link(href="#") 
      +img("svg/in.svg")
  li.socials__item
    a.socials__link(href="#") 
      +img("svg/yt.svg")
  li.socials__item
    a.socials__link(href="#") 
      +img("svg/inst.svg")
  li.socials__item
    a.socials__link(href="#") 
      +img("svg/vk.svg")