ul.list-reset.contacts 
  li.contacts__item 
    +icon("mail")
    a.contacts__content(href="mailto:ensome@info.co.us") ensome@info.co.us
  li.contacts__item 
    +icon("tel")
    a.contacts__content(href="tel:+16012015580") +1 601-201-5580
  li.contacts__item 
    +icon("location")
    span.contacts__content 1642 Washington Ave, Jackson, MS